<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @user.age %>
</p>

<p>
  <strong>City:</strong>
  <%= @user.city %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @user.gender %>
</p>

<p>
  <strong>License:</strong>
  <%= @user.license ? "Yes" : "No" %>
</p>

<p>
  <strong>Content (any matching filter)</strong>
  <ul>
    <% @user.any_matching_content.each do |content| %>
    <li><%= link_to content.title, content %></li>
    <% end %>
  </ul>
</p>

<p>
  <strong>Content (all matching filters)</strong>
  <ul>
    <% @user.all_matching_content.each do |content| %>
    <li><%= link_to content.title, content %></li>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
