<% if show_age_range %>
  <div class="field">
    <%= form.label :min_age, "Minimum Age" %>
    <%= form.number_field :min_age %>
  </div>

  <div class="field">
    <%= form.label :max_age, "Maximum Age" %>
    <%= form.number_field :max_age %>
  </div>

  <div class="field">
    <%= form.label :age, "Exact Age" %>
    <%= form.number_field :age %>
  </div>
<% else %>
  <div class="field">
    <%= form.label :age, "Age" %>
    <%= form.number_field :age %>
  </div>
<% end %>

<div class="field">
  <%= form.label :city %>
  <%= form.text_field :city %>
</div>

<div class="field">
  <%= form.label :gender %>
  <%= form.text_field :gender %>
</div>

<div class="field">
  <%= form.label :license %>
  <%= form.check_box :license %>
</div>
